# mac files
.DS_Store
# emacs
\#*
.\#*
# java
.classpath
.project
.settings/*
target/*
# my git rules
download/repo/*
*/*/download/*
# node
node_modules
# org-mode export latex middle file
*.tex
*.log
*.aux
*.pdf
# files
*.epub
._*
git/download

*.~undo-tree~